.Form {
  background: #192a56;
  padding: 30px;

  .Container {
    display: flex;
    color: #fff;
    justify-content: space-between;
    
  }

  .Formulario {
    
    label {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
    }

    input {
      width: 150%;
      background: none;
      border: 1px solid #fff;
      outline: none;
      padding: 7px 10px;
      margin-bottom: 10px;
    }

    textarea {
      width: 150%;
      height: 80px;
      background: none;
      outline: none;
      border: 1px solid #fff;
    }

    button {
      margin-top: 20px;
      border: 0;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 30px;
    }
  }

  .Fale {

    h2 {
      font-size: 40px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      margin-top: 20px;
    }

    h3 {
      margin-top: 60px;
      font-size: 18px;
    }

    h1 {
      margin-top: 20px;
      font-size: 30px;
    }
  }
}