.TopBar {
  background: #192a56;
  .Container {
    display: flex;
    justify-content: space-between;
  }

  span {
    display: block;
    margin-top: 5px;
  }

  &-iten {
    padding: 10px 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    &:hover {
      background: #273c75;
    }
  }

  &-icon {
    width: 30px;
    height: 30px;
    background: #718093;
    display: block;
    border-radius: 100px;
  }

}

// Header//

.Header {
  .Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Logo {
    max-width: 150px;
    height: 80px;
    overflow: hidden;
  }
  
  .Menu ul {
    display: flex;
    gap: 40px;
    color: #000;
    font-size: 18px;

    a {
     text-decoration: none;
     color: inherit;
    }
 }

 button {
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
  background: #192a56;
  color: #fff;


 }

}