.Hero {
  background: url("https://images.unsplash.com/photo-1601933973783-43cf8a7d4c5f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fGxhcHRvcHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=60") no-repeat center center;
  background: cover;
  margin-top: 15px;
  height: 500px;

  .Text h2 {
    font-weight: bold;
    color: #fff;
    font-size: 60px; 
    padding: 30px 0;   
  }

  .Text p {    
    color: #fff;
    font-size: 20px;
    font-style: italic;
  }

  .Text p span {
    font-weight: bold;
  }

  button {
    margin-top: 30px;
    border: 0;
    background: #273c75;
    color: #fff;
    padding: 13px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
  }
}