.Services {
  margin-top: 30px;
 
  .Container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }

  &-title {
    text-align: center;

    h2 {
      font-weight: bold;
      font-size: 50px;
    }

    p {
      margin-top: 5px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  &-cards {
    margin-bottom: 30px;
    
    img.Photo {
      width: 60px;
      height: 50px;
    }

    h2 {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }

    cite {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }


}